<!DOCTYPE HTML>
<html>
<head>
<title>Your Cart</title>
<link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src={{ url_for('static', filename='js/banditMl.js') }}></script>
{#<script src="https://d10t8xi8ymznsy.cloudfront.net/banditMl.min.js"></script>#}
{#<script src="https://gradient-app-bucket-public-staging.s3.amazonaws.com/snippets/banditMl.min.js"></script>#}
{#<script src="https://gradient-app-bucket-public.s3.amazonaws.com/snippets/v0.1/banditMl.min.js"></script>#}
<script src={{ url_for('static', filename='js/banditLocal.js') }}></script>
</head>
<body>
<div id="title">
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
		<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
		CART {{noOfItems}}
		</a>
	</div>
</div>
<div id="cartItems">
	<h2>Shopping Cart</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemImage">
				<img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
			</div>
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
				In stock<br>
				<a href="/removeFromCart?productId={{row[0]}}">Remove</a>
			</div>
			<div id="itemPrice">
				Rs {{row[2]}}
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">Subtotal</span> : Rs {{totalPrice}}
			<script>
        {#bandit.updateContext({productsInCart: ["b", "a"]}, experimentId);#}
        {#bandit.updateContext({totalCartValue: {{totalPrice}}}, experimentId);#}
        {#bandit.updateContext({currentlyViewingProduct: "prod_Kvg9l6xBbo1bB7"}, experimentId);#}
      </script>
		</div>
	</div>
</div>
<a href="#" onclick="bandit.logReward({prod_RyWOwmE39wnEa2: 20}, experimentId);">Proceed to checkout</a>
<br>
<div>
	<h2>Bandit ML debug logs:</h2>
		<h3>Context: </h3><p id="contextDiv"></p>
		<h3>Decision: </h3><p id="decisionDiv"></p>
  <div class="recs" id="recs">
    <h2> Bandit ML Product Recommendation:</h2>
    <h3>You should also buy: </h3><p id="recommendationDiv"></p>
  </div>
  <h3>Click to test click reward</h3>
  <div id="recsCategory" class="recsCategory">
  </div>
  <h3>Click to test purchase reward</h3>
  <div id="recsCategoryPurchase" class="recsCategoryPurchase">
  </div>
</div>
<style>
  .recs {
    margin-top: 1500px;
    margin-bottom: 300px;
  }
  .recsCategoryPurchase {
    margin-top: 50px;
  }
</style>
</body>
</html>

<script>
	var context = bandit.getContext(experimentId);
  var decision = 4;
	// categorical case
  {#function filterRecs(recs) {#}
  {#  return recs[0];#}
  {#}#}

  function defaultProductRecs() {
    return ['prod_kpnNwAKOX5mXB3', 'prod_ypbroEnJ158n4e', 'prod_kpnNwAbX9omXB3'];
  }

  // pset case
  function filterRecs(recs, variantSlug) {
    if (variantSlug === "variant-74") {
      return ["x", "y"]
    } else if (variantSlug === "variant-72") {
      return ["r", "u"]
    }
    return recs.splice(0, 2);
  }

  async function modHtml(recs) {
    if (Array.isArray(recs)) {
      recs.forEach(rec => {
        $("#recsCategory").append(`<a id="${rec}" class="banditRec" href="#">${rec}</a>`);
        $("#recsCategoryPurchase").append(`<a id="${rec}" class="banditRecPurchase" href="#">${rec}</a>`);
      });
    } else {
      $("#recsCategory").append(`<a id="${recs}" class="banditRec" href="#">${recs}</a>`);
      $("#recsCategoryPurchase").append(`<a id="${recs}" class="banditRecPurchase" href="#">${recs}</a>`);
    }
    return recs;
  }

  bandit.updateContext({currentlyViewingProduct: "prod_NXELwjqnzl3A4p"}, experimentId).then(async function () {
    bandit.getDecision(
      experimentId,
      defaultDecisionIds = defaultProductRecs,
      filterRecs = filterRecs,
      populateDecisions = modHtml
    ).then(function(response) {
      $(document).on('click', '.banditRec', function (e) {
        const prodId = $(this).attr('id');
        bandit.logReward(
          reward={click:1},
          experimentId=experimentId,
          decision=prodId,
          decisionId=response.decision.id
        )
      });

      $(document).on('click', '.banditRecPurchase', function (e) {
        const prodId = $(this).attr('id');
        bandit.logReward(
          reward={[prodId]:{purchase: 20}},
          experimentId=experimentId,
          decision=null,
          decisionId=null
        )
      });
    });
  });

  document.getElementById("contextDiv").innerHTML = JSON.stringify(context);
	$.ajax({
	  url: 'get_product?productId=' + decision,
	  success: function(data) {
	    $('.recommendationDiv').html(JSON.stringify(data));
	  }
	});
</script>
