<!DOCTYPE HTML>
<html>
<head>
<title>Your Cart</title>
<link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src={{ url_for('static', filename='js/banditMl.js') }}></script>
</head>
<body>
<div id="title">
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
		<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
		CART {{noOfItems}}
		</a>
	</div>
</div>
<div id="cartItems">
	<h2>Shopping Cart</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemImage">
				<img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
				<script>
					bandit.updateContextList({productId: [{{row[0]}}]});
				</script>
			</div>
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
				In stock<br>
				<a href="/removeFromCart?productId={{row[0]}}">Remove</a>
			</div>
			<div id="itemPrice">
				Rs {{row[2]}}
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">Subtotal</span> : Rs {{totalPrice}}
			<script>bandit.updateContextValue({['cartValue']: {{totalPrice}}});</script>
		</div>
	</div>
</div>
<a href="/checkout" onclick="bandit.logReward(decision, {{totalPrice}});">Proceed to checkout</a>
<br>
<div>
	<h2>Bandit ML debug logs:</h2>
		<h3>Context: </h3><p id="contextDiv"></p>
		<h3>Decision: </h3><p id="decisionDiv"></p>
	<h2> Bandit ML Product Recommendation:</h2>
		<h3>You should also buy: </h3><p id="recommendationDiv"></p>
</div>
</body>
</html>

<script>
	var context = bandit.getContext();
	var decision = bandit.getDecision("asdbhasbd1212");
	// hardcode a productId for now as an example
	decision = 4; // productId 4
	document.getElementById("contextDiv").innerHTML = JSON.stringify(context);
	document.getElementById("decisionDiv").innerHTML = JSON.stringify(decision);

	$.ajax({
	  url: 'get_product?productId=' + decision,
	  success: function(data) {
	    $('.recommendationDiv').html(JSON.stringify(data));
	  }
	});
</script>
